* {
  background-color: #BCE8E4;
}

#rightClick {
  float: right;
  margin-right: 20%;
}

#leftClick {
  float: left;
  margin-left: 20%;
}

#person-container {
  text-align: center;
}

#buttons{
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 20%;
  background-color: #BCE8E4;
}


#carousel {
  margin: 0 auto;
  width: 342px;
  height: 18px;

}

.boxes {
  height: 12px;
  width: 12px;
  /*background-color: white;*/
  border-color: black;
  margin: 0 auto;
  border-style: double;
  float: left;
  

}
